.drawing-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.color-button {
  cursor: pointer;
  border: 0;

  width: 3rem;
  height: 3rem;
}

.color-button--action {
  padding: .5rem;
}

.color-button--active {
  border-radius: 50%;
  box-shadow: 0 0 1.25rem;
}

.color-button--copied {
  animation: copied-animation 0.5s ease-in-out;
}

@keyframes copied-animation {
  0% {
    transform: scale(1);
    background-color: var(--ifm-color-primary);
  }
  50% {
    transform: scale(1.2);
    background-color: var(--ifm-color-primary-light);
  }
  100% {
    transform: scale(1);
    background-color: var(--ifm-color-primary);
  }
}

.drawing-tools__description {
  margin: 1rem 0 1rem 0;
}

.drawing-tools__input-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.drawing-tools__input {
  height: 3rem;
  width: 35rem;
}

.drawing-tools__input--error {
  border: 1px solid var(--ifm-color-danger-darkest);
}

.drawing-tools__input--error:focus {
  box-shadow: 0 0 0.5rem var(--ifm-color-danger-darkest);
  outline: none;
}

.drawing-tools__errors {
  color: var(--ifm-color-danger-darkest);
  margin-top: 0.5rem;
  padding-left: 1rem;
}
