.drawing-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.color-button {
  cursor: pointer;
  border: 0;

  width: 3rem;
  height: 3rem;
}

.color-button--action {
  padding: .5rem;
}

.color-button--active {
  border-radius: 50%;
  box-shadow: 0 0 1.25rem;
}

.drawing-tools__input-container {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.drawing-tools__input {
  height: 3rem;
  width: 35rem;
}
