.drawing-zone {
  margin: 2rem 0 2rem 0;
  width: 100%;
  max-width: 50rem;
  border: 1px solid var(--ifm-color-content);
  padding: 1rem;
}

[data-theme="light"] .p-white {
  border: 1px solid var(--ifm-color-content);
  box-sizing: border-box;
}
.p-white {
  background-color: #fff;
  color: #fff;
}
.p-yellow {
  background-color: #eeff00;
  color: #eeff00;
}
.p-blue {
  background-color: #0400ff;
  color: #0400ff;
}
.p-red {
  background-color: #ff0000;
  color: #fc8181;
}
.p-green {
  background-color: #1eff00;
  color: #1eff00;
}
.p-orange {
  background-color: #FFAF19;
  color: #ff8c00;
}
.p-gray {
  background-color: #424242;
  color: #424242;
}
.p-transparent {
  background-color: transparent;
  color: transparent;
  border: 0 !important;
}
